.anyClassOrId * {
    padding: 0;
    border: 0;
    margin: 0;
}

.header-desktop {
    width: 100%;
    height: 154px;
}

.headerFisrt {
    background-color: #1435c3;
    width: 100%;
    height: 42px;
}

.headerSecond {
    background: #FFFFFF;
    display: flex;
    height: 112px;
    align-items: center;
    justify-content: center;
}
.headerSecond.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Các thuộc tính CSS khác nếu cần */
}

.headerSecond.fixed {
    background-color: #ffffff; /* Màu nền khi headerSecond fixed */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}
.searchContain a {
    font-size: 0.75rem;
    color: rgb(132, 135, 136);
}

.listHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: white;
    font-family: unset;
    font-size: 13px;
    text-decoration: none;
}

.icon {
    width: 100%;
    height: 100%;
}

.teko-col {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
    cursor: pointer;
}

.teko-col a {
    text-decoration: none;
    color: #89A1D4;

}

.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid #E0E0E0 1px;
    border-radius: 5px;
    width: 180.36;
    padding: 0.4rem 0.75rem;
}

.header-Mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    width: 100%;
    height: 56px;
}

.searchContain {
    display: flex;
    flex-direction: column;
    width: 539.469px;
    padding: 28px 8px 0 8px;
}

.searchContain input {
    border: none;
    background: none;
    height: 100%;
    width: 95%;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    cursor: pointer;
}

.login div {
    color: #999CAF;
}

.cartShopping {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}

.cartShopping div {
    color: #999CAF;
}

.search {
    display: flex;
    width: 100%;
    align-items: center;
}

.input-search {
    display: flex;
    width: 100%;
    height: 36px;
    background-color: #f6f6f6;
    border: #f6f6f6 solid;
    color: #808080;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    line-height: inherit;
    font-family: inherit;
    padding-left: 30px;
    margin-left: 18px;
}

.shopping-cart {
    font-size: 2em;
    margin-left: 14px;
    margin-right: 10px;
    color: #808080;
}

@media (max-width: 800px) {
    .header-desktop {
        display: none;
    }
}

@media (min-width: 800px) {
    .header-Mobile {
        display: none;
    }
}